<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>New user</title>

</head>
<body>
<div align="center">
<h1>Add user</h1>
<form  method="POST" th:action="@{/new}" th:object="${user}">
    <table>
        <tr>
            <td>
                <label for="firstname">Enter firstname</label>
                <input type="text" th:field="*{firstname}" id="firstname" required/>

            </td>
        </tr>
        <tr>
            <td>
                <label for="lastname">Enter lastname</label>
                <input type="text" th:field="*{lastname}" id="lastname" required/>
            </td>
        </tr>
        <tr>
            <td>
                <label for="email">Enter email</label>
                <input type="text" th:field="*{email}" id="email" required/>
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" class="buttonAdd" value="Add user"/>
            </td>
        </tr>
    </table>
</form>
</div>
</body>
</html>
